input[type='text'], input[type='password'] {
    padding: 0.8em 1em;
    border-radius: 1em;
    background: var(--gradient-blue);
    border: none;
        &:focus {
            outline: solid var(--black-010) 0.1em;
        }
}

input[type="radio"] {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid var(--orange-010);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 

    &:checked {
        background: var(--gradient-orange);
        border-color: var(--orange-010);
    }
}

input[type="checkbox"] {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.1em solid  var(--orange-010);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 

    &:checked {
        background: var(--gradient-orange);
        border-color:  var(--orange-010);
    }
}