input[type='text'], input[type='password'], .password-container {
    padding: 0.8em 1em;
    border-radius: 1em;
    background: var(--gradient-blue);
    border: none;
        &:focus {
            outline: solid var(--black-010) 0.1em;
        }
}

.password-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.5em;
    gap: 0.5em;
    width: 100%;

    input[type='text'], 
    input[type='password'] {
        width: 90%;
        height: 100%;
        border-radius: 1em 0 0 1em;
        background-color: none;
    }

    &:focus-within {
        outline: solid var(--black-010) 0.09em; 
    }

    input[type='password']:focus, 
    input[type='text']:focus {
        outline: none;
    }

    .toggle-password:focus {
        outline: none;
    }
}


input[type="radio"] {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.15em solid var(--orange-010);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 

    &:checked {
        background: var(--gradient-orange);
        border-color: var(--orange-010);
    }
}

input[type="checkbox"] {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border: 0.1em solid  var(--orange-010);
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease; 

    &:checked {
        background: var(--gradient-orange);
        border-color:  var(--orange-010);
    }
}