<main>
        <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" #formDir = ngForm>

            <header class="header-form">
                <span class="material-icons">app_registration</span>
                <h1>Register</h1>
            </header>

                <label for="name">
                    Name:
                    <input type="text" name="name" formControlName="name" placeholder="Name">
                    <div class="error">
                        @if(formDir.submitted && name?.invalid) {
                            @if(name?.errors?.['required']) { <p > Preencha o campo. </p> }
                            @if(name?.errors?.['invalidName']) { <p> O nome tem que ter entre 5 a 10 caracteres. </p> }
                        }
                    </div>
                </label>
                <label for="email">
                    E-mail:
                    <input type="text" name="email" formControlName="email" placeholder="E-mail">
                    <div class="error">
                        @if(formDir.submitted && email?.invalid) {
                            @if(email?.errors?.['required']) { <p> Preencha o campo. </p> }
                            @if(email?.errors?.['invalidEmail']) { <p> O email deve ser Gmail. </p> }
                        }
                    </div>
                </label>
        
            <label for="password">
                Password:
                <div class="password-container">
                    <input 
                        [type]="passwordVisible ? 'text' : 'password'" 
                        name="password" 
                        formControlName="password" 
                        placeholder="Password">
                    
                    <button type="button" (click)="togglePasswordVisibility()" class="btn-terciary">
                        @if(!passwordVisible) {
                            <span class="material-icons">
                            visibility
                            </span>
                        } @else {
                            <span class="material-icons">
                                visibility_off
                            </span>
                        }
                    </button>
                </div>
                <div class="error">
                    @if(formDir.submitted && password?.invalid) {
                        @if(password?.errors?.['required']) { <p> Preencha o campo. </p> }
                        @if(password?.errors?.['invalidPassword']) { <p> O password deve estar entre 5 a 10 caracteres </p> }
                    }
                </div>
            </label>
        
            <label for="gender">
                Gender:
                    <div class="row">
                        @for(item of genders(); track item) {
                            <div class="flex-input"> 
                                <input type="radio" formControlName="gender" [id]="item.gender.value" [value]="item.gender.value">
                                {{ item.gender.title }}
                            </div>
                        }
                    </div>
                <div class="error">
                    @if(formDir.submitted && gender?.invalid) {
                        @if(gender?.errors?.['required']) { <p> Selecione o gênero. </p> }
                    }
                </div>
            </label>
        
            <label for="tec">
                Tecs:
                    <div class="row">
                        @for(item of tecs(); track item) {
                            <div class="flex-input">
                                <input type="checkbox" [value]="item.tec.value" (change)="onTecChange($event)">
                                {{ item.tec.title }}
                            </div>
                        }
                    </div>
                <div class="error">
                    @if(formDir.submitted && tec?.invalid) {
                        @if(tec?.errors?.['required']) { <p> Selecione pelo menos um Tópico. </p> }
                    }
                </div>
            </label>
            <div class="footer-form">
                <span>have an account? <a class="btn btn-secondary" routerLink="/login">Login</a></span>
            </div>
            <button class="btn">Register now</button>
        </form>
</main>