main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        padding: 1em 2em;
        width: 40em;
        margin: 1em 0.5em;

        display: flex;
        justify-content: center;
        flex-direction: column;

        .header-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h1 {
                font-weight: 400;
            }

            span {
                background: linear-gradient(135deg, #FF7E5F, #FFB88C, #FFC371);
                padding: 0.8em;
                border-radius: 50%;
                font-size: 1.6em;
            }
        }
            
        label {
            display: flex;
            flex-direction: column;
            font-weight: 400;
        }

        .row {
            display: flex;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;

            .flex-input {
                margin-right: 1em;
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                justify-content: center;
                align-items: center;
            }
        }

        .footer-form {
            margin-bottom: 1em;
        }
            
        .error {
            height: 12px;
            margin: 0 0 0.8em ;
        }

        p {
            color: red;
            font-weight: 600;
            font-size: 0.8em;
        }
    }
}
