:root {
    --black-010: black;
    --white-010: white;
    --gray-010: rgb(91, 90, 90);
    --red-010: red;

    --orange-010: #FF7E5F;
    --orange-020: #e9894d;
    --orange-030: #d8a45b;
    
    --gradient-orange: linear-gradient(135deg, #FF7E5F, #FFB88C, #FFC371);
}