:root {
    --black-010: black;
    --white-010: white;
    --red-010: red;

    --orange-010: #FF7E5F;
    --orange-020: #e9894d;
    --orange-030: #d8a45b;

    --blue-010: #A8E6FF;

    --gradient-orange: linear-gradient(135deg, #FF7E5F, #FFB88C, #FFC371);
    --gradient-blue: linear-gradient(135deg, #A8E6FF, #9eecec, #D3F8FF);
}