* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

ul {
    list-style: none;
}

.btn {
    padding: 0.8em 1em;
    border-radius: 0.4em;
    cursor: pointer;
    background-color: #daa520;
    box-shadow: #daa520 0px 3px 8px;
    color: black;
    border: none;
    width: 15em;
    font-size: 1em;
    font-weight: bold;
}

input {
    padding: 1em 1em;
    border-radius: 0.4em;
    border: none;

    &:focus {
        border: none;
        outline: 3px solid #daa520;
    }
}